

.card {
    flex: 1;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #7B0605;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.card h3 {
    text-align: center;
    color: #7B0605;
}

.list {
    height: 300px;
    border: 2px dashed #7B0605;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 5px;
    overflow-y: auto !important;
}

.list table {
    width: 100%;
    border-collapse: collapse;
}

.list table th{
    color: #fff !important;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.list table td {
    color: black !important;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#uploadForm {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.form-row label {
    font-weight: bold;
    color: #333;
    margin-right: 15px;
    white-space: nowrap;
}

.form-select-custom, #fileInput {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #7B0605;
    width: 45%;
    margin-right: 10px;
}

.file-label {
    display: inline-block;
    padding: 10px 15px;
    background: #7B0605;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.file-label:hover {
    background: #5A0403;
}

button {
    width: 15%;
    background: #7B0605;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    

}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
button:hover {
    background: rgb(30, 95, 68);
    color: white;
    border: 2px solid #7B0605;
}

#sankeyChart {
    width: auto !important;
    height: 300px;
    overflow-y: auto !important;
    box-sizing: border-box;
}
h3 {
    text-align: center;
    margin-top: 20px;
    color: #7B0605;
    text-transform: uppercase;
}