<!-- Main Content -->
{% extends "access_review/index.html" %}
{% load static %}

{% block content %}
<div class="flex-grow-1 p-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Home</a></li>
            <li class="breadcrumb-item active breadcrumb-text" aria-current="page">Dashboard</li>
        </ol>
    </nav>
    
    <div class="centered-gif">
        <img  src="{% static 'access_review/images/data.gif' %}" alt="Centered GIF">
    </div>
    
    
</div>
{% endblock %}