{% extends "access_review/index.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'access_review/upload_styles.css' %}">

<h3>Drag and Drop Mapping</h3>

<!-- File Upload Form -->
<form id="uploadForm" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <label for="applicationSelect" class="form-label">Select Table</label>
        <select class="form-select form-select-custom" id="applicationSelect">
            <option value="">-- Select Table --</option>
            <option value="ad">Active Directory</option>
            <option value="system_users">All System Users</option>
            <option value="staff">Staff</option>
        </select>

        <!-- Custom File Input -->
        <label for="fileInput"></label>
        <input type="file" name="file" id="fileInput" required>
    </div>

    <button type="submit" id="uploadButton">Upload</button>
</form>

<div id="loadingSpinner" class="text-center" style="display: none;">
    <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<!-- Drag and Drop Lists -->
<div class="container">
    <div class="card">
        <h3 id="modelFieldsHeader">Model Fields</h3>
        <div class="list" id="modelFieldsList">
            <table id="modelFieldsTable">
                <thead>
                    <tr>
                        <th>NO.</th>
                        <th>Field</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <h3 id="excel_name">Excel Headers</h3>
        <div class="list" id="excelHeadersList">
            <table id="excelHeadersTable">
                <thead>
                    <tr>
                        <th>NO.</th>
                        <th>Header</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <h3>Visuals</h3>
        <div id="sankeyChart" ></div>
    </div>
</div>

<button id="saveMappings">Save Mappings</button>

<!-- Define JavaScript variables -->
<script type="text/javascript">
    const saveMappingsUrl = "{% url 'save_mappings' %}";
    const getModelFieldsUrl = "{% url 'get_model_fields' %}";
    const uploadExcelUrl = "{% url 'upload_excel' %}";
</script>

<!-- Include jQuery and jQuery UI in the correct order -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<!-- Include Google Charts loader -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- Your custom Sankey chart script -->
<script src="{% static 'access_review/js/sankey_chart_v2.js' %}"></script>
{% endblock content %}